/* Colors */
$white: #fffbfb;
$brown: #7f675b;
$blue: #0075f2;
$greenish-blue: #00f2f2;
$tealish: #096b72;

$font-base-size: 18px;
$serif-fonts: Georgia, Cambria, "Times New Roman", serif;
$radius: 4px;
