@import "_variables";

body {
  font-family: $roboto-font;
  padding: 0;
  margin: 0;
  background-color: #fbfbfb;
}

header {
  background-color: darken($color-teal, 12%);
  width: 100%;
  padding: 25px 0;
  text-align: center;

  #site-header {
    color: $color-white;
    font-size: $font-base-size * 3;
  }
}

.main {
  width: inherit;
  margin: 0 40px;
}

.color-container {
  display: flex;
  justify-content: center;
}

.color-block {
  border: $my-border;
  border-radius: $radius;
  margin: 5px 10px;

  h5 {
    margin: 10px 5px;
    font-size: $font-base-size * 1;
  }

  p {
    margin: 5px;
  }
}

#white-block {
  background-color: $color-white;
  padding: $color-padding;
  margin-top: 5px;
}

#brown-block {
  background-color: $color-brown;
  padding: $color-padding;
  margin-top: 5px;
}

#teal-block {
  background-color: $color-teal;
  padding: $color-padding;
  margin-top: 5px;
}

#light-green-block {
  background-color: $color-light-greenish;
  padding: $color-padding;
  margin-top: 5px;
}

#blue-block {
  background-color: $color-blue;
  padding: $color-padding;
  margin-top: 5px;
}

.headings {
  h1 {
    font-size: $font-base-size * 3;
  }

  h2 {
    font-size: $font-base-size * 1.75;
  }

  h3 {
    font-size: $font-base-size * 1.5;
  }

  h4 {
    font-size: $font-base-size * 1.25;
  }

  h5 {
    font-size: $font-base-size * 1;
  }

  h6 {
    font-size: $font-base-size * 0.75;
  }
}

.block {
  border: $my-border;
  border-radius: $radius;
  margin: 30px 0;

  .text-heading {
    background-color: lighten(#000, 90%);
    margin: 0;
    padding: 10px;
  }
}

p {
  font-size: $font-base-size;
}

img,
input,
textarea {
  border-radius: $radius * 2;
}

.reg-btn {
  background-color: lighten($color-blue, 25%);
  padding: $button-padding;
  font-weight: bold;
}

.danger {
  background-color: #f00;
  padding: $button-padding;
  font-weight: bold;
}
